/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./load.css');
@import url('simplelightbox/dist/simple-lightbox.min.css');
@import url('izitoast/dist/css/iziToast.min.css');
